body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

.button:hover {
    background-color: orange;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
    color: darkgreen;
    border-bottom: 1px dotted blue;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

h1::before{
    content: url("https://mars.algoritmika.org/uploads/2021/03/Rectangle1_0_1616084234.svg");
    margin-right: 10px;
}

h1::after{
    content: url("https://mars.algoritmika.org/uploads/2021/03/Rectangle1_0_1616084234.svg");
    margin-left: 10px;
}
.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.post:hover{
    background-color: #fc7703;
}

.

.post:hover h2 {
    color: white;
} 

.post:hover .article-but{
    background-color: white;
    color: turquoise;
    border: 5px solid turquoise;
}

.post:hover .post-img{
    background-color: white;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}

aside {
    position: fixed;
    background-color: #850AE5;
    right: 0px;
    top: 230px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

.class {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 80px;
}

.post:hover .class{
    border: 3px dotted orange;
    border-radius: 50% ;
}

.address::before {
    content: url("https://mars.algoritmika.org/uploads/2021/03/home_0_1616091816.svg")
}
.tel::before {
    content: url("https://mars.algoritmika.org/uploads/2021/03/tel_0_1616091817.svg");
}

.logo {
    width:200px;    
}
